@use "../abstracts/" as *;

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(2, minmax(min(164px, 100%), 1fr));
  gap: 0.9375rem;

  @include mq(medium) {
    gap: 1.5rem 1.8125rem;
    grid-template-columns: repeat(3, minmax(min(220px, 100%), 1fr));
  }
  @include mq(large) {
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    max-width: 77.5rem;
  }
}
