@use "../assets/sass/abstracts/" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  
  @include mq(medium) {
    gap: 2.0625rem;
  }

  @include mq(large) {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 10.25rem 1fr 1fr;
    gap: 3rem 0;
    grid-template-areas:
      "header search search"
      "header outlet outlet"
      ". outlet outlet";
    margin: 2rem 2.25rem 0 0;

    .header {
      grid-area: header;
      justify-self: center;
    }

    .search {
      grid-area: search;
      width: 100%;
    }

    .outlet {
      grid-area: outlet;
      width: 100%;
    }
  }
}
